@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.active {
    border-bottom: 3px solid rgb(96 165 250 / 1);
    color: rgb(96 165 250 / 1);
    margin-bottom: -3px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(243 244 246 / 1) transparent transparent transparent;
}


.peer:hover > .tooltip-text,
.delete-btn:hover > .tooltip-text,
.comment:hover > .tooltip-text {
    visibility: visible;
}







